/* 
CSS SYNTAX::
selector {
    property: value;
}
*/


/* Universal Selector*/
* {
    font-family: 'Roboto', sans-serif;
}

/*Type Selector*/
h1, p {
    font-family: 'Montserrat', sans-serif;
}

/*ID Selector*/
#profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

body {
    background-color: #CC68C9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23CC68C9' width='11' height='11'/%3E%3Crect fill='%23d168c6' x='10' width='11' height='11'/%3E%3Crect fill='%23d669c3' y='10' width='11' height='11'/%3E%3Crect fill='%23da69c1' x='20' width='11' height='11'/%3E%3Crect fill='%23de6abe' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23e26bbb' y='20' width='11' height='11'/%3E%3Crect fill='%23e56cb8' x='30' width='11' height='11'/%3E%3Crect fill='%23e96db5' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23ec6eb3' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23ef70b0' y='30' width='11' height='11'/%3E%3Crect fill='%23f271ad' x='40' width='11' height='11'/%3E%3Crect fill='%23f473ab' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23f775a8' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23f976a6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23fb79a3' y='40' width='11' height='11'/%3E%3Crect fill='%23fc7ba1' x='50' width='11' height='11'/%3E%3Crect fill='%23fe7d9f' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23ff7f9c' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23ff829a' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23ff8498' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23ff8796' y='50' width='11' height='11'/%3E%3Crect fill='%23ff8995' x='60' width='11' height='11'/%3E%3Crect fill='%23ff8c93' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23ff8f92' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23ff9190' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23ff948f' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23ff978e' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23ff9a8d' x='70' width='11' height='11'/%3E%3Crect fill='%23ff9d8c' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23ffa08b' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ffa28b' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23ffa58a' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23ffa88a' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ffab8a' x='80' width='11' height='11'/%3E%3Crect fill='%23ffae8a' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ffb18a' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ffb48b' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ffb68b' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23ffb98c' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ffbc8d' x='90' width='11' height='11'/%3E%3Crect fill='%23ffbf8e' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23fec18f' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23fdc490' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23fcc792' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23fbca93' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23facc95' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f9cf97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f8d199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f7d49b' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f6d69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f5d9a0' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f4dba3' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f3dea6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f2e0a8' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f2e3ab' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f1e5ae' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f0e7b1' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23efeab4' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23efecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

